{% include "header.html" %}
<div class="container">
    {% include "navbar.html" %}
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" value="{{ profile.username }}" disabled>
	</div>
	<div class="form-group">
		<label for="firstname">First Name</label>
		<input type="text" class="form-control" id="firstname" value="{{ profile.firstname }}">
	</div>
	<div class="form-group">
		<label for="lastname">Last Name</label>
		<input type="text" class="form-control" id="lastname" value="{{ profile.lastname }}">
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="text" class="form-control" id="email" value="{{ profile.email }}">
	</div>
</div>
{% include "footer.html" %}

