{% include "header.html" %}
<div class="container">
	{% include "navbar.html" %}
	<div class="list-group">
		<div class="list-group-item">
			<div class="row">
				<div class="col-xs-2 text-xs-center">Username</div>
				<div class="col-xs-2 text-xs-center">First Name</div>
				<div class="col-xs-2 text-xs-center">Last Name</div>
				<div class="col-xs-2 text-xs-center">Email</div>
				<div class="col-xs-2 text-xs-center">Role</div>
				<div class="col-xs-2 text-xs-center">Type</div>
			</div>
		</div>
		{% for user in users %}
		<a href="/profile/{{ user.username }}" class="list-group-item">
			<div class="row">
				<div class="col-xs-2 text-xs-center">{{ user.username }}</div>
				<div class="col-xs-2 text-xs-center">{{ user.firstname }}</div>
				<div class="col-xs-2 text-xs-center">{{ user.lastname }}</div>
				<div class="col-xs-2 text-xs-center">{{ user.email }}</div>
				<div class="col-xs-2 text-xs-center">{{ user.role }}</div>
				<div class="col-xs-2 text-xs-center">{{ user.type }}</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% include "footer.html" %}
